*.tmp

/RiippuvuuksienInjektointi1/build/
/RiippuvuuksienInjektointi1/.gradle/
/RiippuvuuksienInjektointi1/.nb-gradle/

/NhlStatistics1/build/
/NhlStatistics1/.gradle/
/NhlStatistics1/.nb-gradle/

/viikko2/gradle-testi/build/
/viikko2/gradle-testi/.gradle/
/viikko2/gradle-testi/.nb-gradle/

/viikko2/Verkkokauppa1/build/
/viikko2/Verkkokauppa1/.gradle/
/viikko2/Verkkokauppa1/.nb-gradle/

